/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS variabelen */
:root {
  --blok-image-top: 50px;
  --timeline-left: 20px;
  --timeline-width: 4px;
  --dot-width: 10px;
  --year-position: calc(-40px - var(--timeline-left));
}

body {
  background-color: #6bc4ea;
}

/* event voor alle content blokken */
.events {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10px;
  /* hardcoded, maar hoe anders? #todo */
}

article {
  position: relative;
  display: flex;
}

/* dit is de werkelijke tijdlijn */

article:before {
  position: absolute;
  content: "";
  background-color: white;
  left: calc(0px - var(--timeline-left));
  width: var(--timeline-width);
  height: calc(100% + var(--blok-image-top) + 80px);
  top: 5px;
}

article:not(:last-child) {
  margin-bottom: calc(var(--blok-image-top) + 80px);
}

h4 {
  position: absolute;
  top: 0px;
  margin: 0px;
  color: grey;

  left: var(--year-position);
  /* niet hardcoden maar berekenen adhv ruimtes die de andere elementen nodig hebben #todo */
}

/* het rondje op de tijdlijn */

h4:after {
  content: "";
  position: absolute;

  background-color: white;
  width: var(--dot-width);
  height: 10px;
  border-radius: 50%;
  top: calc((16px - 10px) / 2);
  right: -15px;
}

/* content blocks */
.blok {
  position: relative;
  max-width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 20px;
  background-color: white;
  border-radius: 3%;
}

.blok:before:not(:last-child) {
  margin-bottom: calc(var(--blok-image-top) + 80px);
}

/* images which breakout upwards */
.blok:after {
  position: absolute;
  top: calc(0px - var(--blok-image-top));
}

.arpanet:after {
  content: url(../images/small/arpanet.jpg);
}

.tim-berners-lee:after {
  content: url(../images/small/timbernerslee.jpg);
}

.worldwideweb:after {
  content: url(../images/small/worldwideweb.jpg);
}

.js:after {
  content: url(../images/small/js.jpg);
}

.css:after {
  content: url(../images/small/css.jpg);
}

.web2:after {
  content: url(../images/small/web2.jpg);
}

.audi:after {
  content: url(../images/small/audi.jpg);
}

.ethan-marcotte:after {
  content: url(../images/small/ethanmarcotte.jpg);
}

.content {
  position: relative;
  font-size: 0.85em;
}

h2 {
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

header {
  margin-bottom: calc(30px + var(--blok-image-top));
  text-align: center;
  background-color: white;
}

header:before {
  content: url(../images/small/header.png);
}

@media only screen and (min-width: 768px) {
  .events {
    left: unset;
  }

  article {
    width: calc(47% + (var(--timeline-width) / 2));
  }

  article:nth-child(odd) {
    align-self: flex-start;
    margin-left: 3%;
  }

  article:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 3%;
  }

  .blok {
    max-width: 90%;
  }

  article:nth-child(odd):before {
    left: unset;
    right: 0px;
  }

  article:nth-child(even):before {
    left: 0px;
  }

  article:nth-child(odd) h4 {
    left: unset;
    right: -40px;
  }

  article:nth-child(odd) h4:after {
    right: unset;
    left: -15px;
  }

  article:nth-child(even) h4 {
    left: -40px;
  }

  article:nth-child(even) h4:after {
    right: -15px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }

  article:nth-child(odd) h4 {
    left: unset;
    right: -43px;
  }
  article:nth-child(even) h4 {
    left: -43px;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .events {
    max-width: 1200px;
  }
}
